* {
	box-sizing: border-box;
}

body {
	background: rgb(72, 72, 72);
	font-family: helvetica;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

header {
	margin-bottom: 2.5vh;
	text-align: center;
}

header h1 {
	margin: 0;
	font-family: 'Fredericka the Great', cursive;
	font-size: 10vh;
	text-shadow: 0 0 7px white;
}

header #start-game-btn {
	width: 6vh;
	height: 6vh;
	transition: box-shadow 0.1s ease-in 0.1s;
	cursor: pointer;
}

header #start-game-btn:hover {
	box-shadow: 0 0 7px white;
}

header #start-game-btn:active {
	transform: scale(0.98);
}

.grid {
	box-sizing: content-box;
	position: relative;
	display: grid;
	grid-template-columns: repeat(15, 1fr);
	grid-template-rows: repeat(15, 1fr);
	width: 72vh;
	height: 72vh;
	margin: auto;
	background: lightgray;
	border: 0.5vh solid rgb(36, 36, 36);
	cursor: pointer;
}

.grid > div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(72vh / 15);
	height: calc(72vh / 15);
	margin: auto;
	font-size: 3vh;
	border: 0.1vh solid rgb(191, 191, 191);
}

.mine {
	width: 100%;
	height: 100%;
}

.flag {
	width: 75%;
	height: 75%;
}

#game-results-modal {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.8);
	font-size: 4vh;
	font-weight: 500;
	color: white;
}

.victory-banner {
	width: 100%;
}

@media (orientation: portrait) {
	header {
		margin-top: 30px;
	}

	header h1 {
		font-size: max(10vw, 50px);
	}

	header #start-game-btn {
		width: max(8vw, 48px);
		height: max(8vw, 48px);
		margin: 10px;
	}

	.grid {
		width: 95vw;
		height: 95vw;
		border: 0.5vw solid rgb(36, 36, 36);
	}

	.grid > div {
		width: calc(95vw / 15);
		height: calc(95vw / 15);
		font-size: 3vw;
	}

	#game-results-modal {
		font-size: 5vw;
	}
}
