body {
	/* background-color: lightgray; */
	  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.container {
	display: grid;
	margin: auto;
	grid-template-rows: 1fr 2fr;
    justify-items: center;
	align-items: center;
}

header {
	display: grid;
	height: 180px;
	justify-items: center;
	padding-bottom: 20px;
}

h1 {
	font-family: 'Fredericka the Great', cursive;
	font-size: 58px;
}

h2 {
    font-size: 48px;
    color: white;
}

#set-mines {
	width: 40px;
	height: 40px;
	margin-bottom: 10px;
    cursor: pointer;
	background-size: cover;
}

.grid {
	display: grid;
	position: relative;
	grid-template-columns: repeat(15, 1fr);
	grid-template-rows: repeat(15, 1fr);
    cursor: pointer;
	background-color: lightgray;
	border: 5px solid gray;
}

.grid > div {
	display: grid;
	width: 20px;
	height: 20px;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	border: 2px solid white;
}

/* .mines {
	width: 20px;
	height: 20px;
} */

#modal {
    display: none;
	position: absolute;
	width: 100%;
	height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

#modal-lose {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

#modal img {
    width: 345px;
}

/* Portrait */
@media only screen 
  and (min-device-width: 469px) {
  /* and (-webkit-min-device-pixel-ratio: 2) */
  /* and (orientation: portrait) { */
	header {
		height: 200px;
		padding-bottom: 20px;
	}
	h1 {
		font-size: 68px;
		margin-bottom: 20px;
	 }
	#set-mines {
		width: 55px;
		height: 55px;
	}
	.grid > div {
		width: 30px;
		height: 30px;
		font-size: 22px;
	}
	#modal img {
		width: 415px;
	}
}

/* Portrait */
@media only screen 
  and (min-device-width: 750px) {
  /* and (-webkit-min-device-pixel-ratio: 2) */
  /* and (orientation: portrait) { */
	header {
		height: 260px;
		padding-bottom: 80px;
	}
	h1 {
	    font-size: 115px;
	 }
	 #set-mines {
		 width: 70px;
		 height: 70px;
	 }
	.grid > div {
		width: 40px;
		height: 40px;
		font-size: 32px;
	}
	#modal img {
		width: 625px;
	}
}